<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/img/Vector (8).png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/custom-bs4-3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/css/ui.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <title>Landing</title>
</head>

<body>
    <!--Top Deals Product Widgets -->

    <section class="product-widget  mt-5  mb-5">
        <div class="header-title pb-2 mb-3">
            <span class="intro-title">Top Deals</span>
            <small class="ml-1 sub-intro"><a href="#">view all products</a> </small>

            <span class="text-right float-right pagination">
    <img src="/img/chevron-left.png" alt="" class="topdeal-chevron-button-prev">
    <img src="/img/chevron-right.png" alt="" class="topdeal-chevron-button-next">
</span>
        </div>

        <!-- Swiper -->
        <div class="swiper-container swiper-topdeal">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/generator.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Lucidia Stores</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Lutian Power Generator</a>
                            </div>
                            <small class="des-sm text-black">Wigs for Classy Women OMG</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/sneakers.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Nike stores</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Soft Leather Shoes</a>
                            </div>
                            <small class="des-sm text-black">Unisex, retro-sports shoe</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/bag.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Gucci stores</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Soft Leather Bags</a>
                            </div>
                            <small class="des-sm text-black">Female, Handbag, Leather bag</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/bag.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Obiro Fashion House</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Dark Eye Glasses</a>
                            </div>
                            <small class="des-sm text-black">Female, Glasses, Dark Glasses</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/generator.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Lucidia Stores</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Lutian Power Generator</a>
                            </div>
                            <small class="des-sm text-black">Wigs for Classy Women OMG</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/sneakers.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Nike stores</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Soft Leather Shoes</a>
                            </div>
                            <small class="des-sm text-black">Unisex, retro-sports shoe</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/bag.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Gucci stores</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Soft Leather Bags</a>
                            </div>
                            <small class="des-sm text-black">Female, Handbag, Leather bag</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/bag.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Obiro Fashion House</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Dark Eye Glasses</a>
                            </div>
                            <small class="des-sm text-black">Female, Glasses, Dark Glasses</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/generator.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Lucidia Stores</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Lutian Power Generator</a>
                            </div>
                            <small class="des-sm text-black">Wigs for Classy Women OMG</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/sneakers.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Nike stores</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Soft Leather Shoes</a>
                            </div>
                            <small class="des-sm text-black">Unisex, retro-sports shoe</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/bag.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Gucci stores</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Soft Leather Bags</a>
                            </div>
                            <small class="des-sm text-black">Female, Handbag, Leather bag</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/bag.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Obiro Fashion House</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Dark Eye Glasses</a>
                            </div>
                            <small class="des-sm text-black">Female, Glasses, Dark Glasses</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Trending service product Widget -->



    <!--Top Products Product Widgets -->

    <section class="product-widget  mt-5  mb-5">
        <div class="header-title pb-2 mb-3">
            <span class="intro-title">Top Products</span>
            <small class="ml-1 sub-intro"><a href="#">view all products</a> </small>

            <span class="text-right float-right pagination">
    <img src="/img/chevron-left.png" alt="" class="topproduct-chevron-button-prev">
    <img src="/img/chevron-right.png" alt="" class="topproduct-chevron-button-next">
</span>
        </div>

        <!-- Swiper -->
        <div class="swiper-container swiper-topproduct">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/generator.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Lucidia Stores</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Lutian Power Generator</a>
                            </div>
                            <small class="des-sm text-black">Wigs for Classy Women OMG</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/sneakers.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Nike stores</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Soft Leather Shoes</a>
                            </div>
                            <small class="des-sm text-black">Unisex, retro-sports shoe</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/bag.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Gucci stores</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Soft Leather Bags</a>
                            </div>
                            <small class="des-sm text-black">Female, Handbag, Leather bag</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/bag.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Obiro Fashion House</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Dark Eye Glasses</a>
                            </div>
                            <small class="des-sm text-black">Female, Glasses, Dark Glasses</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/generator.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Lucidia Stores</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Lutian Power Generator</a>
                            </div>
                            <small class="des-sm text-black">Wigs for Classy Women OMG</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/sneakers.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Nike stores</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Soft Leather Shoes</a>
                            </div>
                            <small class="des-sm text-black">Unisex, retro-sports shoe</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/bag.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Gucci stores</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Soft Leather Bags</a>
                            </div>
                            <small class="des-sm text-black">Female, Handbag, Leather bag</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/bag.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Obiro Fashion House</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Dark Eye Glasses</a>
                            </div>
                            <small class="des-sm text-black">Female, Glasses, Dark Glasses</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/generator.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Lucidia Stores</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Lutian Power Generator</a>
                            </div>
                            <small class="des-sm text-black">Wigs for Classy Women OMG</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/sneakers.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Nike stores</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Soft Leather Shoes</a>
                            </div>
                            <small class="des-sm text-black">Unisex, retro-sports shoe</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/bag.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Gucci stores</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Soft Leather Bags</a>
                            </div>
                            <small class="des-sm text-black">Female, Handbag, Leather bag</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="w-100">
                        <div class="img-wrap product-image" style="background-image: url('/img/bag.png');">
                            <span class="float-left  left-stat">
                    <img src="/img/heart-outline.png" alt="">
                </span>
                            <span class="float-right right-stat">
                 <small>-16%</small>
                </span>
                        </div>
                        <small class="text-black stores">Obiro Fashion House</small>
                        <div class="divider-product mx-auto"></div>
                        <div class="info-wrap  pl-2 pr-2">
                            <div class="product-title text-truncate ">
                                <a href="#">Dark Eye Glasses</a>
                            </div>
                            <small class="des-sm text-black">Female, Glasses, Dark Glasses</small>
                            <div class="small-footer mt-1 mb-2">
                                <span class="float-left product-price">
                      <small>N49,999</small>  <small class="ml-1 text-muted discounted">N59,999</small>
                   </span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Trending service product Widget -->



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js "></script>
    <script src="/js/swiper.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>