<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/img/Vector (8).png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/custom-bs4-3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/css/ui.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <title>Landing</title>
</head>

<body>

    <!-- Trending Cities -->
    <section class="product-widget  mt-5  mb-5">
        <div class="header-title pb-2 mb-3">
            <span class="intro-title">Trending Cities</span>
        </div>

        <div class="row">
            <a class="col-md-3  col-sm-4 col-6 mb-3" href="#">
                <div class="card bg-dark text-center align-items-center shadow">
                    <div class="inner">
                        <img src="/img/cities/calabar.png" class="card-img opacity">
                        <div class="card-img-overlay text-white  row justify-content-center ">
                            <div class=" align-self-center">
                                <div class="">Calabar</div>
                                <small class="align-middle"><img src="/img/users-white.png" alt=""> 166.5K</small>
                            </div>

                        </div>
                    </div>

                </div>
            </a>

            <a class="col-md-3  col-sm-4 col-6 mb-3" href="#">
                <div class="card bg-dark text-center align-items-center shadow">
                    <div class="inner">
                        <img src="/img/cities/Port Harcourt.png" class="card-img opacity">
                        <div class="card-img-overlay text-white  row justify-content-center ">
                            <div class=" align-self-center">
                                <div class="">Port Harcourt</div>
                                <small class="align-middle"><img src="/img/users-white.png" alt=""> 166.5K</small>
                            </div>

                        </div>
                    </div>
                </div>
            </a>

            <a class="col-md-3  col-sm-4 col-6 mb-3" href="#">
                <div class="card bg-dark text-center align-items-center shadow">
                    <div class="inner">
                        <img src="/img/cities/lagos.png" class="card-img opacity">
                        <div class="card-img-overlay text-white  row justify-content-center ">
                            <div class=" align-self-center">
                                <div class="">Lagos</div>
                                <small class="align-middle"><img src="/img/users-white.png" alt=""> 166.5K</small>
                            </div>

                        </div>
                    </div>
                </div>
            </a>

            <a class="col-md-3  col-sm-4 col-6 mb-3" href="#">
                <div class="card bg-dark text-center align-items-center shadow">
                    <div class="inner">
                        <img src="/img/cities/ibadan.png" class="card-img opacity">
                        <div class="card-img-overlay text-white  row justify-content-center ">
                            <div class=" align-self-center">
                                <div class="">Ibadan</div>
                                <small class="align-middle"><img src="/img/users-white.png" alt=""> 166.5K</small>
                            </div>

                        </div>
                    </div>
                </div>
            </a>


            <a class="col-md-3  col-sm-4 col-6 mb-3" href="#">
                <div class="card bg-dark text-center align-items-center shadow">
                    <div class="inner">
                        <img src="/img/cities/abuja.png" class="card-img opacity">
                        <div class="card-img-overlay text-white  row justify-content-center ">
                            <div class=" align-self-center">
                                <div class="">Abuja</div>
                                <small class="align-middle"><img src="/img/users-white.png" alt=""> 166.5K</small>
                            </div>

                        </div>
                    </div>
                </div>
            </a>


            <a class="col-md-3  col-sm-4 col-6 mb-3" href="#">
                <div class="card bg-dark text-center align-items-center shadow">
                    <div class="inner">
                        <img src="/img/cities/Kaduna.png" class="card-img opacity">
                        <div class="card-img-overlay text-white  row justify-content-center ">
                            <div class=" align-self-center">
                                <div class="">Kaduna</div>
                                <small class="align-middle"><img src="/img/users-white.png" alt=""> 166.5K</small>
                            </div>

                        </div>
                    </div>
                </div>
            </a>

            <a class="col-md-3  col-sm-4 col-6 mb-3" href="#">
                <div class="card bg-dark text-center align-items-center shadow">
                    <div class="inner">
                        <img src="/img/cities/Maidugri.png" class="card-img opacity">
                        <div class="card-img-overlay text-white  row justify-content-center ">
                            <div class=" align-self-center">
                                <div class="">Maidugri</div>
                                <small class="align-middle"><img src="/img/users-white.png" alt=""> 166.5K</small>
                            </div>

                        </div>
                    </div>
                </div>
            </a>

            <a class="col-md-3  col-sm-4 col-6 mb-3" href="#">
                <div class="card bg-dark text-center align-items-center shadow">
                    <div class="inner">
                        <img src="/img/cities/Abeokuta.png" class="card-img opacity">
                        <div class="card-img-overlay text-white  row justify-content-center ">
                            <div class=" align-self-center">
                                <div class="">Abeokuta</div>
                                <small class="align-middle"><img src="/img/users-white.png" alt=""> 166.5K</small>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
        </div>
    </section>

    <!-- End cities -->



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js "></script>
    <script src="/js/swiper.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>